@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?268bf4313c8e400e8bba3a323923c343") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-wind"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-temperature"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-snow"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-humadity"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-fa_search"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-cloud"]::before { 
		content: "\f107"; 
	} 

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #fff;
  font-family: "Roboto";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.weather {
  height: 100svh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
  padding-bottom: 2.5rem;
}
.weather--snow {
  background-image: url("../assets/img/bg-weather.webp");
}
.weather__container {
  padding-block-start: 2.3125rem;
}
.weather__header {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.weather__header:not(:last-child) {
  margin-bottom: 2.5625rem;
}
.weather__logo {
  cursor: pointer;
}
.weather__block-search:has(.weather__btn:hover) .weather__input {
  border-color: #fff;
}
.weather__block-search {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 23.125rem;
  align-items: center;
  position: relative;
}
.weather__block-search .weather__input {
  padding-left: 0.625rem;
  border: 0.125rem solid transparent;
  transition: border-color 0.3s;
  border-bottom: 0.125rem solid #fff;
}
.weather__block-search .weather__input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}
.weather__block-search .weather__input:focus {
  background-color: transparent;
}
.weather__btn {
  position: absolute;
  z-index: 2;
  inset-inline-end: 0.9375rem;
}
.weather__icon {
  display: inline-block;
}
.weather__input {
  position: relative;
  width: 100%;
  padding-block-start: 0.9375rem;
  padding-block-end: 0.9375rem;
  padding-inline-end: 2.5rem;
  cursor: pointer;
}
.weather__input::placeholder {
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
}
.weather__search-btn-blook {
  display: flex;
  align-items: center;
}
.weather__geoBtn {
  font-size: 1.5625rem;
  background-color: #007AFF;
  text-transform: uppercase;
  border: 0.0625rem solid #999;
  padding: 0.9375rem 0.625rem;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
}
.weather__output {
  color: red;
}
.weather__items {
  display: flex;
  justify-content: space-between;
}
.weather__item-widget {
  align-self: flex-end;
}
.weather__item {
  flex-basis: 23.125rem;
  width: 100%;
}

.--icon-search {
  cursor: pointer;
  font-size: 1.75rem;
  transition: transform 0.3s;
}

.weather-widget {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.weather-widget__temperature {
  letter-spacing: -0.08em;
  margin-right: 0.625rem;
}
.weather-widget__location {
  font-size: 3.75rem;
}
.weather-widget__datetime {
  font-size: 1.125rem;
  white-space: pre-line;
}
.weather-widget__icon {
  font-size: 4.375rem;
  width: 7.5rem;
  height: 7.5rem;
}

.weather-details {
  font-size: 1.125rem;
}
.weather-details__title:not(:last-child) {
  margin-bottom: 3.25rem;
}
.weather-details__condition {
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.weather-details__condition:not(:last-child) {
  margin-bottom: 1.875rem;
}
.weather-details__list {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.weather-details__item {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 0.9375rem;
  align-items: center;
}
.weather-details__item--icon-humadity, .weather-details__item--icon-cloudy, .weather-details__item--icon-wind {
  flex-direction: row-reverse;
}
.weather-details__wrapper-item {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
  justify-content: center;
}
.weather-details__temp {
  display: flex;
  gap: 1.625rem;
  align-items: center;
}
.weather-details__icon--temp-max {
  color: #DFA1A1;
  font-size: 1.625rem;
}
.weather-details__icon--temp-min {
  color: #6D97CA;
  font-size: 1.625rem;
}
@media (max-width: 61.99875em){
  .weather {
    height: 100%;
  }
  .weather__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weather__items {
    flex-direction: column;
    gap: 2.5rem;
  }
}
@media (max-width: 47.99875em){
  .weather__header {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  .weather__block-search {
    flex-basis: 0rem;
    width: 100%;
  }
}
@media (width <= 20em){
  .weather-widget__temperature {
    font-size: 3.125rem;
  }
  .weather-widget__location {
    font-size: 1.25rem;
  }
}
@media (width > 20em) and (width <= 78.75em){
  .weather-widget__temperature {
    font-size: clamp( 3.125rem , 1.14627659574375rem  +  9.8936170213vw , 8.9375rem );
  }
  .weather-widget__location {
    font-size: clamp( 1.25rem , 0.3989361702125rem  +  4.2553191489vw , 3.75rem );
  }
}
@media (width > 78.75em){
  .weather-widget__temperature {
    font-size: 8.9375rem;
  }
  .weather-widget__location {
    font-size: 3.75rem;
  }
}
@media (any-hover: hover), (pointer: fine){
  html:not([data-fls-touch]) .weather__block-search .weather__input:hover {
    border-color: #fff;
  }
  html:not([data-fls-touch]) .weather__geoBtn:hover {
    background-color: #0c53a0;
  }
  html:not([data-fls-touch]) .--icon-search:hover {
    transform: scale(1.09);
  }
}